/* Estilos del Sidebar */
.fixed {
  position: fixed;
}

.w-64 {
  width: 16rem; /* Ajusta el ancho según lo necesites */
}

.bg-gray-800 {
  background-color: #2d3748;
}

.text-white {
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.text-3xl {
  font-size: 1.875rem; /* Ajusta el tamaño del título principal */
}

.text-lg {
  font-size: 1.125rem; /* Ajusta el tamaño de los botones del menú */
}

.p-4 {
  padding: 1rem;
}

.font-bold {
  font-weight: 700;
}

.mt-6 {
  margin-top: 1.5rem;
}

.hover\:bg-gray-700:hover {
  background-color: #4a5568;
}

.ml-64 {
  margin-left: 16rem;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-1 {
  flex: 1;
}

.bg-gray-100 {
  background-color: #f7fafc;
}

.p-8 {
  padding: 2rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mb-8 {
  margin-bottom: 2rem;
}

.text-gray-900 {
  color: #1a202c;
}

.text-6xl {
  font-size: 4rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.table {
  width: 100%;
}

.min-w-full {
  min-width: 100%;
}

.divide-y > :not(:last-child) {
  border-bottom-width: 1px;
}

.divide-gray-200 {
  --divide-opacity: 1;
  border-color: rgba(229, 231, 235, var(--divide-opacity));
}

.mt-auto {
  margin-top: auto;
}

.footer {
  background-color: #2d3748;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

/* Estilos para el botón activo */
.active {
  background-color: #4a5568; /* Color de fondo cuando el botón está activo */
  color: #ffffff; /* Color del texto cuando el botón está activo */
  border-radius: 0.25rem;
  font-weight: 700;
}




/* Centra el título de la tabla */
h2 {
  font-size: 24px;
  font-weight: bold;
}

/* Aumenta el tamaño de los botones */
button {
  font-size: 14px;
  padding: 8px 16px;
}

/* Personaliza la apariencia de las filas pagadas */
tr.table-success {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

tr.table-success:hover {
  opacity: 1;
}


.clientes-container {
  width: 100%;;
  margin: 0 auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

// button {
//   padding: 5px 10px;
//   background-color: #4CAF50;
//   color: white;
//   border: none;
//   cursor: pointer;
// }

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagado {
  opacity: 0.5;
}


.alert {
  font-size: 16px;
  margin-bottom: 20px;
}
